.main {
    height: 100vh;
    width: 100vw;
    max-width: 500px;
}
.main a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 11px;
    padding-left: 21px;
    align-items: center;
    font-weight: 500;
    font-size:  16px;
    line-height:  17px;
}

.header h4:last-child {
    color: #3D4EEA;
    cursor: pointer;
}
.header img {
    cursor: pointer;
}
.links {
    padding: 0 23px;
}
.links a {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.main a img {
    margin-right: 19px;
}
.links h3 {
    color: #3D4EEA;
    margin-bottom: 26px;
}
.links h4 {
    line-height: 26px;
    margin-bottom: 8px;
}
.links p {
    
    line-height: 17px;
    font-weight: 400;
    margin: 0  0 10px 35px;
}