.tel_message {
    position: absolute;
    width: 100vw;
    max-width: 500px;
    top:0;
    left:0;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.6);
}
.central_message {
    position: absolute;
    top: 255px;
    left: 16px;
    height: auto;
    width: calc(100% - 32px);
    padding: 16px 16px 40px;
    background-color: #fff;
    border-radius: 8px;
    line-height: 20px;
    
}
.central_message img:last-of-type {
    display: block;
    margin: 0 auto 24px;
}
.central_message p {
    line-height: 17px;
    font-size: 14px;
    text-align: center;
}
.central_message h3 {
    line-height: 26px;
}
.central_message span {
    display: block;
    color: #3D4EEA;
    font-size: 17px;
    margin-top: 24px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: underline;
}
.central_message img:first-of-type {
    cursor: pointer;
    display: block;
    margin: 0 0 6px calc(100% - 16px);
}