.main {
    max-width: 500px;
    height: 100vh;
}
.selector {
  font: 400 14px/17px 'Rubik', sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  align-items: center;
  padding: 10px;
  height: 27px;
}
.profile {
  padding: 20px 0 20px 28%;
  background-position: 10% center;
  background-size: 10%;
  font-weight: 500;
  background-image: url('/camera_bl.svg');
}  
.profile a {
  color: #3D4EEA;
  display: block;
  width: 90%;
  margin: 10px 0;
  font: 500 12px/17px 'Rubik', sans-serif;
}

.navigation {
    display: flex;
    margin: 16px;
    justify-content: space-between;
}
.section h4 {
    margin: 5px 0;
    color: #282828;
    font: 600 12px/22px 'Rubik', sans-serif;
    text-align: center;
}
.navigation span {
    display: inline-block;
    padding: 0 5px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    
    font: 400 14px/27px 'Rubik', sans-serif;
    
    
}
.message {
  color: #3D4EEA;
  background: #ECEEFD;
  border-radius: 6px;
  padding: 8px;
  gap: 4px;
  width: calc(100% - 32px);
  margin: 0 auto 16px;
  height: auto;
  font: 400 12px/16px 'Rubik', sans-serif;
  background-position: 96% 10px; 
  background-size: 3%;
  background-repeat: no-repeat;
  background-image: url('/close.svg')
}
.uslugi {
    height: 46px;
    display: block;
    color: #3D4EEA;
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    margin: 16px auto 8px;
    width: calc(100% - 32px);
    background-color: #ECEEFD;
    text-align: center;
    font: 600 16px/24px 'Rubik', sans-serif;
}
.uslugi::after {
    content: url('/plus.svg');
    transform: translate(10px, 1px);
    
}