.main {
  max-width: 500px;
  min-height: 100vh;
  position: relative;
  z-index: 101;
  padding-bottom: 50px;
  background-color: #fff;
}

.selector {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  align-items: center;
  padding: 10px;
  height: 27px;
}

.profile {
  padding: 20px 0 20px 104px;
  background-position: 16px 22px;
  background-size: 72px;
  font-weight: 500;
  background-image: url('/camera_bl.svg');
}

.profile a {
  color: #3D4EEA;
  display: block;
  width: 90%;
  margin: 10px 0;
  font-size: 12px;
}

.navigation {
  display: flex;
  margin: 0 16px 16px;
  justify-content: space-between;
}

.section h4 {
  margin: 5px 0;
  color: #282828;
  font-size: 12px;
  text-align: center;
}

.navigation span {
  display: inline-block;
  padding: 0 5px;
  color: #000;
  width: fit-content;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
}
.addlist, .uslugi, .uslugi_plus {
  height: 36px;
  display: block;
  border-radius: 6px; 
  margin: 0 auto 16px;
  width: 70%;
  background-color: #ECEEFD;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
}
.uslugi {
  width: 28%;
}
.uslugi_plus {
  width: 100%;
}

.lenta {
  width: calc(100% - 32px);
  max-width: calc(500px - 32px);
  margin: 0 auto;
}

.section {
  text-align: center;
  padding: 16px 16px 0;
  font-weight: 500;
  line-height: 17px;
}

.section h4::before {
  content: url('/location.svg');
  display: inline-block;
  transform: translate(-7px, 2px);
}

.image img {
  border-radius: 100%;
  transform: translateY(50px);
  border: 3px solid #fff;
  background-color: #fff;
}

.name_stars {
  margin: 60px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.section p span:first-of-type {
  font-size: 1.5em;
}

.pro {
  height: 21px;
  width: 65px;
  margin: 0 5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 3px 8px;
}

.stars {
  height: 21px;
  width: 50px;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 2px 2px 8px;
}

.stars::after {
  content: '\2605';
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
}

.text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #282828;
  width: 100%;
  margin: 0 auto;
}

.view_text {
  color: #3D4EEA;
  margin: 12px auto;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.image {
  height: 100px;
  background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
  border-radius: 20px;
  background-size: 400% 400%;
  animation: gradient 22s ease infinite;
}
.lenta_images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lenta_image {
  width: 49%;
  height: 150px;
  max-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: calc(5% - 10px);
}