.main {
    max-width: 500px;
    min-height: 100vh;
    position: relative;
    z-index: 101;
    padding-bottom: 50px;
}
.selector { 
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  align-items: center;
  padding: 10px;
  height: 27px;
}
.profile {
  padding: 20px 0 20px 104px;
  background-position: 16px 22px;
  background-size: 72px;
  font-weight: 500;
  background-image: url('/camera_bl.svg');
}  
.profile a {
  color: #3D4EEA;
  display: block;
  width: 90%;
  margin: 10px 0;
  font-size: 12px;
}

.navigation {
    display: flex;
    margin: 16px;
    justify-content: space-between;
}
.section h4 {
    margin: 5px 0;
    color: #282828;
    font-size: 12px;
    text-align: center;
}
.navigation span {
    display: inline-block;
    padding: 0 5px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    
    font-weight: 400;
    font-size:  14px;
    line-height: 27px;
    
    
}
.message {
  color: #3D4EEA;
  background: #ECEEFD;
  border-radius: 6px;
  padding: 8px;
  gap: 4px;
  width: calc(100% - 32px);
  margin: 0 auto 16px;
  height: auto;
  font-size: 12px;
  line-height: 16px;
  background-position: 96% 10px; 
  background-size: 3%;
  background-repeat: no-repeat;
  background-image: url('/close.svg')
}
.uslugi {
    height: 46px;
    display: block;
    color: #3D4EEA;
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    margin: 16px auto 8px;
    width: 100%;
    background-color: #ECEEFD;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height:  24px;
}
.uslugi span::after {
  content: '+';
  transform: translate(8px,1px);
}
.lenta {
  width: calc(100% - 32px);
  max-width: calc(500px - 32px);
  margin: 0 auto;
}