.main_city {
  min-height: 100vh;  
}
.message {
  width: calc(100% - 32px);
  margin: 16px auto 0;
}
.city {
  color: hsl(234, 80%, 58%);
  margin: 16px auto 24px;
  cursor: pointer;
  display: inline;
  margin: 16px auto;
  display: block;
  width: calc(100% - 32px);
  font-weight: 600;
  font-size: 22px;
}

.selector {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 27px;
}
.selector a {
  width: 47%;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  color: #000;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.master {
  background-color: #FFFFFF; 
  padding: 10px;
  box-shadow: 0px 0px 20px #C5C5C5;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.master div {
  width: calc(100% - 60px);
}
.my_map {
  opacity: 0;  
  z-index: 1000; 
  width: 100% ;
  max-width: 500px ;
}
.my_map canvas {
  margin-top: 20px;
  filter: grayscale(100%) !important;
}
.section {
  display: flex;
  flex-direction: column;
  padding: 0 16px 60px; 
}


.my_map div.ymaps-2-1-79-map-copyrights-promo {
  height: 0;
}

.name_stars {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 70px;
  cursor: pointer;
}

.name_stars span:first-of-type {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;

}

.pro {
  margin: 0 5px;
  background: linear-gradient(90deg, #3D4EEA 0%, #5E2AF0 100%);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 8px;
  color: #fff;
  display: inline-block;
}

.stars {
  background-image: url('/star-small.svg');
  background-position: 88% center;
  background-size: 35%;
  width: 47px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  vertical-align: middle;
  color: #3D4EEA;
  background-color: #ECEEFD;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 4px 2px 8px;
}

.service {
  color: #3D4EEA;
  margin-right: 5px;
}

.master img { 
  border-radius: 50%;
}
.master {
  width: 100%;
 
  margin: 0 auto 10px; 
}
.master h4 {
  margin: 5px 0;
  color: #282828;
  padding-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-image: url('/location.svg');
  background-position: left center;
  background-size: 10px;
}
.master h4::first-letter {
  text-transform: capitalize;
}

.master h5 {
  color: #8B95F2;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.master h5 span {
  display: inline-block;
}

.master h5 span::first-letter {
  text-transform: uppercase;
}

.main__filter {
  margin: 16px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__filter span {
  display: inline-block;
  width: 50%;
  color: #8B95F2;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}

.main__filter span:last-of-type {
  width: 32%;
  color: #3D4EEA;
  background-position: right center;
  background-size: 18%;
  font-weight: 600 !important;
  cursor: pointer;
}

.main__filter span:last-of-type::after {
  content: url('/arrow_right.svg');
  display: inline-block;
  transform: translate(5px, 1px);
}

.all__filter {
  position: absolute;
  top: 70px;
  left: 3.5%;
  background-color: #fff;
  max-width: calc(500px - 4.5%);
  width: 93%;
  height: auto;
  z-index: 100;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-bottom: 10px;
}

.all__filter p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  position: relative;
  color: #3D4EEA;
}
.all__filter p::after, .all__filter p::before {
  content: '11 км';
  position: absolute;
  right: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #D0D0D0;
  top: 60px;
}
.all__filter p::before {
  content: '1 км';
  left: 0%;
  display: flex;
}

.all__filter h6 {
  margin: 10px 15px 0;
  text-align: right;

}

.all__filter h6::after {
  content: url('/close.svg');
  transform: translate(-8px, 1px);
  display: inline-block;

  cursor: pointer;
}

.all__filter h6::after:hover {
  border: 1px solid #3D4EEA;
}

.all__filter__data {
  display: flex;
  padding: 0 5px 5px;
  justify-content: space-between;
  flex-wrap: wrap;

}

.all__filter__data b {
  text-align: center;
  width: 31%;
  color: #000;
  margin: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  border: 1.5px solid #000;
  border-radius: 5px;
}

.all__filter__data b:last-of-type {
  width: 65%;
}

.close, .open {
  margin: 5px auto;
  display: block;
  cursor: pointer;
}
.open {
  transform: rotate(180deg);
}

.range {
  width: 90%;
  margin: 15px auto 30px;
  display: block;
}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  background-color: #8B95F2;
  border-radius: 2px;
}
input[type=range].range::-moz-range-thumb {
  background: #3D4EEA;
 
  border-radius: 0px;
  cursor: pointer;  
}

input[type=range].range::-webkit-slider-thumb  {
  -webkit-appearance: none;
  background: #3D4EEA;
  border-radius: 0px;
  cursor: pointer;  
}
input[type=range].range::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  border-radius: 0;
  cursor: pointer;
}


.city {
  color: #3D4EEA;
  background: #ECEEFD;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;

  line-height: 46px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
}

.city::after {
  content: url('/position.svg');
  display: inline-block;
  transform: translate(10px, 5px);
}