.total {
    position: fixed;
    width: 100%;
    max-width: 500px;
    z-index: 100;
    border-radius: 30px;
   
}

.main_navi {
    margin: 0 auto;
    height: 58px;
    width: max-content;    
    border-radius: 30px;
    /* background: linear-gradient(90deg, #3D4EEA 0%, #3D4EEA 100%); */
    background-size: 200%;
    padding: 6px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.enter {
    height: 46px;
    width: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    border-radius: 39px;
    padding: 7px 16px 7px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center;
    text-align: center;
    color: #fff;
    margin: 0 3px;


}

.message {
    background-image: url('/message.svg');
}


.dashboard,
.home,
.message,
.stroke {
    height: 46px;
    width: 46px;
    background-size: 50%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 46px;
    text-align: center;
    margin: 0 3px;
}

.stroke {
    background-image: url('/stroke.svg');
    background-size: 30%;
}

.home {
    background-color: #fff;
}

.dashboard img,
.home img {
    margin-top: 13px;
}


@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 200%;
    }
}