.total {
    position: fixed;    
    width: 100%;
    max-width: 500px;
    z-index: 100;   
}
.main {
    margin: 0 auto;
    background: linear-gradient(90deg, #3D4EEA 0%, #5E2AF0 100%);
    border-radius: 30px;
    height: 58px;
    display: block;
    width: fit-content;
    border-radius: 30px;
    padding: 6px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.enter {
    height: 46px;
    width: 72px;   
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    border-radius: 39px;
    padding: 7px 16px 7px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center;
    text-align: center;
    color: #fff;
    margin: 0 3px;


}
.message {
    background-image: url('/message.svg');   
}


.dashboard, .home , .message, .stroke {
    height: 46px;
    width: 46px;
    background-size: 50%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 46px;
    text-align: center;
    margin: 0 3px;
}
.stroke {
    background-image: url('/stroke.svg');  
    background-size: 30%; 
}
.home {
    background-color: #fff;
}
.dashboard img , .home img{
    margin-top: 13px;
}