.main {
    padding: 0 16px;
}
.data {    
    padding: 0;
}
.type {
    text-align: center;
    font: 600 16px/26px 'Rubik', sans-serif;
    margin: 16px 0 12px;
}
.data span:last-of-type {
    font: 500 16px/26px 'Rubik', sans-serif;
}
.service {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: #F8F8F8;
    border-radius: 4px;
    margin: 8px 0;
    padding: 5px 10px;
}
.service span:first-of-type {
    display: inline-block;
   
    margin: 10px 0;
    font: 500 14px/16px 'Rubik', sans-serif;
}

