.data {    
    padding: 0;
}
.type {
    text-align: center;
    font-size: 16px;
    margin: 16px 0 12px;
    color: inherit;
}
.type::first-letter {
    text-transform: uppercase;
}
.data span:last-of-type {
    font-size: 16px;
    width: 70px;
    text-align: right;
}
.service {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: #F8F8F8;
    border-radius: 4px;
    margin: 8px 0;
    padding: 5px 10px;
    color: inherit;
}
.data div .service span {
    color: inherit;
}
.service span:first-of-type::first-letter {
    text-transform: uppercase;
}
.service span:first-of-type {
    display: inline-block;
    text-align: left;
    margin: 10px 0;
    font-size: 14px;
}
.no_services {
    text-align: center;
    margin: 20px 0;
}
.upload__message {
    margin: 50px auto;
    text-align: center;
}

