.data {    
    padding: 0;
}
.type {
    text-align: center;
    font-size: 16px;
    margin: 16px 0 12px;
    color: inherit;
}
.type::first-letter {
    text-transform: uppercase;
}
.data span:last-of-type {
    font-size: 16px;
    width: 88px;
    text-align: right;
}
.all_service {
    background: #F8F8F8;
    border-radius: 4px;
    transition: all 0.5s;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: #F8F8F8;
    border-radius: 4px;
    
   
    color: inherit;
}
.data div .service span {
    color: inherit;
}
.service span:first-of-type::first-letter {
    text-transform: uppercase;
}
.service span:first-of-type {
    display: inline-block;
    text-align: left;   
    font-size: 14px;
    flex-grow: 7;
}

.image, .image_rotate {
    margin-left: 10px;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0.3s;
}
.image_rotate {
    transform: rotate(0deg);
    transition: all 0.3s;
}
.no_services {
    text-align: center;
    margin: 20px 0;
}
.upload__message {
    margin: 50px auto;
    text-align: center;
}

