.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 11px;
    align-items: center;
    font: 600 16px/17px 'Rubik', sans-serif;
}

.header span:last-child {
    color: #3D4EEA;
    cursor: pointer;
}
.header img {
    cursor: pointer;
}
.section {
    width: 300px;
    margin: 30px auto;
    height: 80vh;
    overflow-y: auto;

}

.seachcity {
    display: block;
    height: 48px;    
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    padding: 0px 8px 0px 8px;
    color: #3D4EEA;
    border: 1px solid #3D4EEA;
    margin: 20px auto;
}
.section input::placeholder {
    color: #8B95F2;

}
.city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 700 14px/17px 'Rubik', sans-serif;
    height: 48px;
    color: #000;
    background-color: #fff;
}
.city span {
    color: #000;
}
.city input {
    height: 16px;
    width: 16px;
    background-color: #fff;
    accent-color: #3D4EEA;
    margin-right: 15px;
}