.main {
    align-items: center;
    min-height: 100vh;
    max-width: 400px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.headers {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 11px;
    align-items: center;
    font: 500 16px/17px 'Rubik', sans-serif;
}

.headers span:last-child {
    color: #3D4EEA;
}

.section {
    width: 300px;
    margin: 30px auto;

}

.section input[type=text] {
    display: block;
    height: 48px;
    width: 300px;
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
    border: 1px solid #3D4EEA;
    margin-bottom: 20px;
}
.section input::placeholder {
    color: #8B95F2;

}
.city {
    display: flex;
   align-items: center;
    justify-content: space-between;
    font: 700 14px/17px 'Rubik', sans-serif;
    height: 48px;
}
.city input {
    height: 20px;
    width: 20px;
}