.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 11px;
    padding-left: 21px;
    align-items: center;
    font-weight: 500;
    font-size:  16px;
    line-height:  17px;
}

.header button {
    color: #3D4EEA;
    font-size: 16px;
    background-color: #fff;
}    
.header img {
    cursor: pointer;
    margin-right: 55px;
}
.section {
    width: 300px;
    margin: 10px auto;  
}
.section button {
    color: #fff;
    background-color: #3D4EEA;
    font-weight: 500;
    appearance: none;
    font-family: inherit;
}

.seachcity, .addcity {
    display: block;
    height: 48px;    
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    padding: 0px 8px 0px 8px;
    color: #3D4EEA;
    border: 1px solid #3D4EEA;
    margin: 20px auto;   
}
.seachcity::placeholder, .addcity::placeholder {
    color: #8B95F2;
}
.seachcity::first-letter {
    text-transform: capitalize;
}
.addcity {
    margin-top: 5px;
}
.all_cities {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.all_cities h5 {
    text-align: center;
    margin-top: 40%;
}
.city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size:  14px;
    line-height: 17px;
   
    color: #000;
    height: 48px;
    background-color: #fff;
}
.city div b {
    text-transform: capitalize;
    color: #000;
    display: block;
}
.city div span {
    color: #D0D0D0;
    font-weight: 400;
}
.city input {
    height: 16px;    
    width: 16px;
    background-color: #fff;   
    margin-right: 15px;
    display: none;
}
.disabled, .enabled {
    height: 14px;    
    width: 14px;
    background-color: #fff;   
    margin-right: 20px;
    border-radius: 50%;
    outline: 1px solid #d0d0d0;
    outline-offset: 3px;
}
.enabled {
    
    background-color: #3D4EEA;   
   
    outline: 1px solid #3D4EEA;
   
}

.city input:active {
    background-color: #3D4EEA;
}