.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.section {


    margin: 16px auto;
    width: 300px;
}
.add_photo {
    height: 46px;
    border-radius: 6px;
    background-position: 85% center;   
    background-color: #ECEEFD;
    color: #3D4EEA;
    display: block;
    padding-left: 40px;
    text-align: left;
    font: 500 16px/46px 'Rubik', sans-serif;
    background-image: url('/camera.svg');
}
.message {
    padding: 8px;
    gap: 4px;
    margin: 0 auto;
    height: 50px;
    color: #3D4EEA;
    background: #ECEEFD;
    border-radius: 6px;
    font: 400 12px/17px 'Rubik', sans-serif;
    background-position: 96% 10px;
    background-size: 3%;
    background-repeat: no-repeat;
    background-image: url('/close.svg')
}

.section p {
    text-align: center;
    font: 400 12px/18px 'Rubik', sans-serif;
    width: 300px;
    margin: 0 auto;
}

.section h4 {
    text-align: center;
    font: 400 14px/17px 'Rubik', sans-serif;
    width: 300px;
    margin: 0 auto 20px;
}

.section input {
    height: 46px;
    display: block;
    margin: 16px auto;
    width: 100%;
    outline: none;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #3D4EEA;
    color: #3D4EEA;
    background-color: #fff;
}

.section button {
    height: 46px;
    width: 100%;
    display: block;
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    background-color: #3D4EEA;
    color: #fff;
    border: none;
    font-size: 16px;
    margin: 16px auto;
}
.section h3 {
    text-align: center;
    color: #282828;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.section input::placeholder {
    color: #8B95F2;
}
.enter {
    color: #3D4EEA;
    text-align: center;
    font-weight: 600;
    margin: 15px auto;
    display: block;
}
@media screen and (min-width: 500px) {
    .section {
      width: 400px;
    }
}