.main {    
    min-height: 100vh; 
    max-width: 500px;   
    background-color: #fff;
    width: 100%;
    margin: 0 auto;    
    position: relative;
    z-index: 101;
    padding-bottom: 50px;
}

.header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 72px;
}

.section_main {
    text-align: center;
    padding: 0 16px;
   
}











.buttons {
    display: flex;
    justify-content: space-between;    
}

.buttons a {   
    font-size:  16px;
    line-height: 37px;
    border-radius: 6px;
    height: 36px;
    border: none;
    width: 43%;   
}
.buttons a span {
    font-weight: 500;
}
.buttons a span svg {
    transform: translate(4px,4px);
}
.buttons a:last-of-type {
    width: 55%;    
}


.navigation {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}
.section h4 {
    margin: 0 0 5px;
    color: #282828;
    font-weight: 500;
    font-size:  12px;
    line-height: 22px;
    text-align: center;
}
.navigation span {
    display: inline-block;
    padding: 0 6px;
    color: #000;
    text-align: center;
    border-radius: 6px;    
    font-weight: 400;
    font-size:  14px;
    line-height:  27px; 
    cursor: pointer;   
    
}
.image {
    height: 100px;
    background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
    border-radius: 20px;
    background-size: 400% 400%;
    animation: gradient 22s ease infinite;    
}
.image img {
    height: 105px;
    width: 105px;
    display: block;
    margin: 0 auto;   
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.await {
    text-align: center;
    padding-top: 250px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 
  
@media screen and (min-width: 500px) {
    .main {
      max-width: 500px;
    }
}