.main_menu {
    position: absolute;
    min-height: fit-content;
    width: 250px;
    right: 16px;
    top: 72px;
    border-radius: 16px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 51px rgba(40, 40, 40, 0.4);
    backdrop-filter: blur(25px);
    z-index: 1000;
    
}

.main_menu p, .main_menu a {
    text-align: left;
    display: block;
    
    font-weight: 400;
    font-size:  16px;
    line-height: 31px;
    background-position: right center;    
}
.main_menu p:last-of-type {
    cursor: pointer;
}
p.menu_prof {
    text-align: center;
    color: #3D4EEA;
    line-height: 20px;
    font-weight: 500;
    margin: 15px 0;
}

.main_menu a:first-of-type {
    background-image: url('/message_menu.svg');
}
.records_on_seans {
    background-image: url('/ticket.svg'); 
}
.edit_profile {
    background-image: url('/edit_profile.svg'); 
}
p.copy {
    background-image: url('/url.svg'); 
    line-height: 18px;
    margin: 5px 0;
}
.shedule {
    background-image: url('/calendar.svg'); 
}
.records_on_seans span, .main_menu a:first-of-type span {
    transform: translate(10px,-1px);
    color: #fff;
    display: inline-block;
    height: 16px;
    text-align: center;
    width: 16px;
    background-color: #FD4D4D;
    border-radius: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    vertical-align: text-bottom;
}
.chat {
    background-image: url('/chat.svg'); 
}
.add {
    background-image: url('/message_menu.svg');
}
.about {
    background-image: url('/information.svg'); 
}

.collections {
    background-image: url('/collections.svg'); 
}
.main_menu p:last-of-type {
    background-image: url('/logout.svg');
    margin-top: 10px;
}    