.main {
  height: 100vh;
  max-width: 500px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: auto;
}

.image .profile_image {
  border-radius: 100%;
  height: 110px;
  width: 110px;
  display: inline-block;
  transform: translateY(50px);
  border: 3px solid #fff;
  line-height: 140px;
  background-color: #3D6DEA;

}

.image {
  height: 100px; 
  background-size: 400% 400%;
  animation: gradient 22s ease infinite;
  text-align: center;
  position: relative;
}

.image span {
  position: absolute;
  color: #fff;
  top: 14px;
  left: 16px;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1px 8px 5px 10px;
  border-radius: 4px;
}

.image span::before {
  content: url('/camera_min.svg');
  transform: translate(-4px, 2px);
}

.image input {
  transform: translate(-40px, -150px);
  opacity: 0;
  display: block;
  height: 100px;
}


.inputs {
  margin: 24px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-size: 12px;
}

.inputs div,
.inputs input,
.submitProfile input,
.inputs textarea {
  width: 100%;
  border-radius: 4px;
  padding: 0 8px;
  margin: 6px 0 15px;
  height: 48px;
  border: 1px solid #d0d0d0;
}

.inputs h6 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
}
.inputs label input[type="radio"] {
  width: 20px;
  height: 20px;
  display: inline;
  float: right;
}
.radio {
  height: 31px;
  margin: 6px 0;  
  font: 600 14px/31px 'Rubik', sans-serif;
}

.change {
  color: #3D4EEA;
  padding-right: 15px;
}

.change::after {
  content: url('/arrow_right.svg');
  height: 15px;
  transform: translate(10px, 2px);
}

.inputs textarea {
  height: 84px;
  padding: 12px 6px;
  background-color: #fff;
  outline: none;
  font: 500 14px/17px 'Rubil', sans-serif;
}



div.nikname,
.address {
  line-height: 40px;
  font-size: 14px;
}

.nikname span {
  color: gray;
}


.nikname input {
  display: inline-block !important;
  color: #3D4EEA;
  width: 50%;
  border: none;
  font-weight: 600;
  height: 20px;
  vertical-align: revert;
  padding: 0;
  font-size: 14px;
}

.name {
  text-align: center;
  margin-top: 70px;
  font-size: 22px;
  font-weight: 500;
}

div.connect_master,
div.currency,
div.tema {
  background: #8B95F2;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  margin: 8px 0 0;
  font-weight: 500;
  display: flex;
  padding: 8px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
}

div.currency {
  background: #D0D0D0;
}

div.tema {
  background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
}

.connect_master button,
.currency button,
.tema button {
  height: 34px;
  width: 112px;
  border-radius: 6px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border: none;
  color: #fff;
}

.currency button {
  width: fit-content;
}

.tema button {
  background: rgba(255, 255, 255, 0.2);
}

.submitProfile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100lvw;
  max-width: 500px;

  z-index: 101;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 11px;
  align-items: center;
  font: 400 16px/17px 'Rubik', sans-serif;
}

.header span {
  color: #282828; 
  font-weight: 600; 
}
.header span:first-of-type,
.header span:last-of-type {
  color: #3D4EEA;
  cursor: pointer;  
}
.header span:first-of-type {
  font-weight: 400;
}


.submitProfile p {
  font-size: 12px;
  line-height: 17px;
  margin: 16px;
}
.submitProfile input {
  margin: 6px auto 8px;
  display: block;
  width: 100% ;  
}
.main_tema {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(40, 40, 40, 0.6);  
  top: 0;
  z-index: 101;
}
.select_tema {
  position: absolute;
  top: 156px;
  left: 10px;
  background-color: #fff;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 14px 12px 0;
  width: calc(100% - 20px);
}

.select_tema div {
  font-weight: 500;
  font-size: 14px;  
  height: 46px;
  line-height: 37px;  
  margin-bottom: 10px; 
  border-radius: 4px;
  padding: 4px 6px 4px 6px;
  position: relative;
}
.select_tema div span {
  color: #fff;
}
.select_tema h6 {
  margin: 0 12px 14px 0;
  text-align: right;
  padding-right: 15px;
  font-weight: 500;
  color: #3D4EEA;
}

.select_tema h6::after {
  content: url('/close.svg');
  display: inline-block;
  transform: translate(10px, 2px);
}
.selected_tema::before {
  content: url('/check.svg');
  margin-right: 10px;
}
.img_currency { 
  position: absolute;
  top: 5px;
  right: 5%;
  text-align: right;
}