.main {
  min-height: 100vh;
  height: 100%;
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: auto;
  z-index: 101;
}

.image .profile_image {
  border-radius: 100%;
  height: 110px;
  width: 110px;
  display: inline-block;
  transform: translateY(45px);
  border: 3px solid #fff;
  line-height: 140px;
  background-color: #3D6DEA;
}

.active_dialog {
  position: absolute;
  width: 50%;
  min-width: 250px;
  top: 35vh;
  left: calc(50% - 125px);
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 20px 10px;
  z-index: 200;
  font-size: 18px;
  line-height: 20px;
  height: 200px;
  box-shadow: 0px 4px 51px rgba(40, 40, 40, 0.4);
}

.active_dialog::after {
  content: url('/close.svg');
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 15px;
  cursor: pointer;
}

.passive_dialog {
  display: none;
}

.header .message {
  margin-top: 20%;
  display: block;
  text-align: center;
}

.image {
  height: 100px;
  background-size: 400% 400%;
  animation: gradient 22s ease infinite;
  text-align: center;
  position: relative;
  background: linear-gradient(90deg, #3D4EEA 0%, #5E2AF0 100%);
}

.image img {
  height: 105px;
  width: 105px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  transform: translateY(53px);
  line-height: 105px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image span {
  position: absolute;
  color: #fff;
  top: 14px;
  left: 16px;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 1px 8px 5px 10px;
  border-radius: 4px;
}

.image span::before {
  content: url('/camera_min.svg');
  transform: translate(-4px, 2px);
}

.image input {
  transform: translate(0, -50px);
  opacity: 0;
  display: block;
  height: 106px;
  width: 106px;
  cursor: pointer;
  margin: 0 auto;
}


.inputs {
  margin: 24px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-size: 12px;
}

.inputs div,
.inputs input,
.inputs select,
.submitProfile input,
.inputs textarea {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 8px;
  margin: 6px 0 15px;
  font-family: inherit;
  height: 48px;
  border: 1px solid #d0d0d0;
  outline: none;
}

.select option {
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: #fff;
}

.select {
  background-image: url('/arrow_down.svg');
  background-position: 100% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 33px;
  cursor: pointer;
}



.inputs h6 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
}

.inputs label input[type="radio"] {
  width: 20px;
  height: 20px;
  display: inline;
  float: right;
}

.radio {
  height: 31px;
  margin: 6px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 31px;
}

.change {
  color: #3D4EEA;
  padding-right: 15px;
  cursor: pointer;
}

.change::after {
  content: url('/arrow_right.svg');
  height: 15px;
  transform: translate(3px, 2px);
}

.inputs textarea {
  height: 84px;
  padding: 12px 6px;
  background-color: #fff;
  outline: none;

  font-size: 14px;
  line-height: 17px;
}

div.nikname,
.address {
  line-height: 40px;
  font-size: 14px;
}

.address span {
  text-transform: capitalize;
}

.nikname span {
  color: gray;
}

.nikname input {
  display: inline-block !important;
  color: #3D4EEA;
  width: 30%;
  border: none;
  font-weight: 600;
  height: 20px;
  vertical-align: revert;
  padding: 0;
  font-size: 14px;
}

.name {
  text-align: center;
  margin-top: 70px;
  font-size: 22px;
  font-weight: 500;
}

div.connect_master,
div.connect_master_connect,
div.currency,
div.tema {
  background: #8B95F2;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  margin: 8px 0 0;
  font-weight: 500;
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  border: none;
}

div.currency {
  background: #D0D0D0;
}

div.tema {
  background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
}

.currency button,
.tema button {
  height: 34px;
  width: 112px;
  border-radius: 6px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

.connect_master::after,
.connect_master_connect::after {
  content: 'Подключен';
  height: 22px;
  width: 112px;
  text-align: center;
  border-radius: 6px;
  line-height: 22px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.tema::before {
  content: 'Тема профиля';

}

.connect_master_connect::after {
  content: 'Подключить';
  cursor: pointer;
}

.connect_master::before,
.connect_master_connect::before {
  content: 'Аккаунт мастера';

}

.currency button {
  width: fit-content;
}

.tema button {
  background: rgba(255, 255, 255, 0.2);
}

.submitProfile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 100vw;
  max-width: 500px;
  z-index: 101;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 11px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.header span {
  color: #282828;
  font-weight: 600;
}

.header span:first-of-type,
.header span:last-of-type {
  color: #3D4EEA;
  cursor: pointer;
}

.header span:first-of-type {
  font-weight: 400;
}


.submitProfile p {
  font-size: 12px;
  line-height: 17px;
  margin: 16px;
}

.submitProfile input {
  display: block;
  width: 100%;
}

.main_tema {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(40, 40, 40, 0.6);
  top: 0;
  z-index: 101;
}

.select_tema {
  position: absolute;
  top: 156px;
  left: 10px;
  background-color: #fff;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 14px 12px 0;
  width: calc(100% - 20px);
}

.select_tema div {
  font-weight: 500;
  font-size: 14px;
  height: 46px;
  line-height: 37px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 4px 6px 4px 6px;
  position: relative;
  cursor: pointer;
}

.select_tema div span {
  color: #fff;
}

.select_tema h6 {
  margin: 0 12px 14px 0;
  text-align: right;
  padding-right: 15px;
  font-weight: 500;
  color: #3D4EEA;
}

.select_tema h6::after {
  content: url('/close.svg');
  display: inline-block;
  transform: translate(10px, 2px);
  cursor: pointer;
}

.selected_tema::before {
  content: url('/check.svg');
  margin-right: 10px;
}

.img_currency {
  position: absolute;
  top: 5px;
  right: 5%;
  text-align: right;
}

.place img {
  vertical-align: middle;
  cursor: pointer;
  margin: 16px;
}

.place {
  padding: 16px;
  height: 48px;

}

.place h4 {
  font-weight: 400;
  width: fit-content;
  border: 1px solid #ddd;
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.place h4:hover {
  box-shadow: 0 0 12px 2px #ddd;
}

.place h4 b {
  margin: 0 10px;
  font-weight: 400;
}

.place h4::before {
  content: url('/location.svg');
  display: inline-block;
  margin-left: 10px;
  transform: translate(-7px, 2px);

}