.main {
    align-items: center;
    height: 100vh;
    position: relative;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    z-index: 110;
}
.selector {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    height: 27px;
  }
  .selector span {
    width: 50%;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
  }

.section {
    padding: 0 16px 20px;
    min-height: 87vh;
    position: relative;
    background-color: #fff;
   
}
.section p {
    text-align: left;
    font-weight: 500;
    font-size:  16px;
    line-height:  26px;
    
}

.mounth {    
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days::-webkit-scrollbar {
    width: 0;
}

.mounth span {
    display: inline-block;
    width: fit-content;
    padding: 5px 15px;
    font-weight: 400;
    color: #d0d0d0;
}

.days {
    display: grid;
    grid-template-columns: 24% 24% 24% 24% 24%;    
    justify-content: space-between;   
    overflow-x: auto;
}
.days span, .time span {
    color: #fff;
    line-height: 38px; 
    text-align: center;
    margin: 4px;
    height: 40px;
    display: inline-block;
    background: #3D4EEA;
    border-radius: 4px;
    font-size: 14px;
}

.section button {
    background: #ECEEFD;
    border-radius: 6px;
    display: block;
    height: 46px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin: 16px auto;
    border: none;
    cursor: pointer;
   color: #fff;
}
.section button span {
  color: #fff;
  display: inline-block;
  transform: translate(3px, 1.5px);
}
.order {
    padding: 10px;
    gap: 6px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100px;
    margin: 8px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px #E6E6E6;
    border-radius: 6px;
  }
  
  .order h3 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
  }
  
  .order h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #282828;
  }
  
  .order p {
    display: flex;
    justify-content: space-between;
  }
  .count {
    color: #fff;
    width: 20px;
    margin-left: 8px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    display: inline-block;
    
  }
  
  .order p span {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #3D4EEA;
  }
  
  .order p span:last-of-type::before {
    content: 'Заказ';
    color: #282828;
    padding-right: 5px;
  }
  
  .active::before {
    content: 'Новый';
    color: #fff;
    background: #FD4D4D;
    border-radius: 4px;
    padding: 0 6px;
    margin: 0 5px 0 0;
    transform: translateY(-1px);
  }
@media screen and (min-width: 500px) {
    
    .days {
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;  
    }      
}