.map {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;   
    height: 100%;
    width: 100vw;
    max-width: 500px;
}
.my_map {
    width: calc(100% - 32px);
    border-radius: 8px;
    margin: 20vh auto 0;
    max-width: calc(500px - 32px );
    background-color: #fff;

}