.map {
    position: absolute;
    top: 0;
    padding-top: 56px;
    height: 94vh;
    left: 0;
    background-color: #fff;
    z-index: 101;   
    width: 100vw;
    max-width: 500px;
}
.my_map {
    width: 100%;
    border-radius: 8px;
  
    max-width: 500px;
    background-color: #fff;
}
.close {   
    display: block;
    z-index: 200;    
    background-color: #fff;
    margin: 8px auto;
    padding: 4px;   
    cursor: pointer;
    border: 1px solid #3D4EEA;
    border-radius: 50%;
}
.map img:hover {
    transform: scale(1.1);
}