.map {
    position: absolute;
    top: 73px;
    left: 0;
    background-color: #fff;
    z-index: 101;   
    width: 100vw;
    max-width: 500px;
}
.my_map {
    width: calc(100% - 32px);
    border-radius: 8px;
    margin: 16px auto 0;
    max-width: calc(500px - 32px );
    background-color: #fff;
}
.map img {
    float: right;
    display: block;
    z-index: 200;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #3D4EEA;
}