.main {
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    position: relative;
    background-color: #fff;
    z-index: 101;
}

.category {
    overflow-x: auto;   
    width: calc(100% - 32px);
    margin: 22px auto 11px;
    height: 40px;
}
.all_cat {
    width: max-content;
    margin: 0 auto;
}

.category span {
    display: inline-block;
    width: auto;
    height: 27px;
    padding: 0 10px;
    text-align: center;
    border-radius: 4px;
    line-height: 27px;
    margin: 0 5px;
    cursor: pointer;
}
.category span::first-letter {
    text-transform: capitalize;
}
.category span b {   
    width: 20px;
    height: 20px;   
    border: 1px solid #000;
    border-radius: 100%;
    margin-left: 9px;   
    line-height: 20px;
    font-size: 13px;
}

.category span .active_count {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}
.service, .active_service {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto 8px;
    height: 46px;
    box-shadow: 0px 0px 9px #E6E6E6;
    border-radius: 4px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}
.active_service {    
    background-color: #3D4EEA;
}
.active_service span {
    color: #fff;
    line-height: 18px;
    display: inline-block;
}
.active_service span:first-of-type {
    width: 80%;
    padding-left: 25px;
   
}

.active_service span:first-of-type::before {
    content: url('/check.svg');
    transform: translateX(-23px);
    position: absolute;
    
    
}

.service span {   
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}
.service span:first-of-type {
    width: 80%;
   
}
.order {
    width: 100%;   
    background-color: rgba(236, 238, 253, 0.8);
    padding: 26px;
}
.colaboration {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    max-width: 310px;
}
.colaboration a {
    margin: 0 5px;
    color: #3D4EEA;

}

.order div{
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #3D4EEA;
    border-radius: 6px;
    display: block;
    line-height: 44px;
    font-size: 1em;   
    height: 44px;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
}
.order h4, .order h3 {
    line-height: 26px;
    color: #282828;
    font-weight: 500;
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
}
.order h3 {
    line-height: 17px;
    margin: 16px 0;   
}
.order p {
    font-size: 14px;
    line-height: 17px;
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
}
.order p span {
    font-weight: 500;
}
.discount {
    color: #fd4d4d;
}
.order h6 {
    font-weight: 400;
    font-size: 14px;
}
.order h6 a {
    font-size: 14px;
}
.world_for_count {
    color: #D0D0D0;
    font-size: 12px;
}