.data {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0;
    text-align: left;
}
.data span:last-of-type {
    color: #3D4EEA;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}
.data span img {
    
    transform: translateY(2px);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header span:first-of-type {
    display: inline-block;
    width: 40%;
    font-weight: 500;
    font-size:  16px;
    line-height: 26px;
    color: #000;    
}
.service {
    color: #D0D0D0;
    margin: 10px auto;
    font: 600 14px/16px 'Rubil', sans-serif;
}
.message {
    height: fit-content;
    
    font-weight: 400;
    font-size:  14px;
    font-weight: 400;
    transition: all 0.5s;
}