.section {
    background-color: #fff;
    height: calc(100vh - 72px);
    position: relative;
    z-index: 100;
}

.registration {
    font-size: 18px;
    width: 200px;
    margin: 33px auto 0;
    text-align: center;
}

.image {
    margin: 38.38px 0;
    background-position: center;
    background-size: 20%;
    height: 70px;
}

.inputs::before {
    content: 'Введите пароль вашего  аккаунта.';
    text-align: center;
    color: black;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 24px 0;
}

.inputs {
    margin: 0 auto;
    width: 300px;

}
.number {
    position: relative;
}
/* .inputs span {
    color:#3D4EEA;
    display: block;
    transform: translate(3px,20px);    
}
.inputs span::before {
    content: '+';
    transform: translate(8px,21px);
    display: inline-block;
    color: #000;
} */
.inputs p,
.number p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 300px;
    margin: 30px auto 15px;
}
.number p {
    margin: 0 auto 15px;
}
.colaboration {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 300px;
    margin: 0 auto 20px;
}

.inputs input {
    height: 46px ;
    width: 300px;
    display: block;
    color: #3D4EEA;
    margin: 0 auto;
    padding: 0 10px; 
    margin-bottom: 12px;  
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #3D4EEA ;
}
.inputs input::placeholder {
    color: #3D4EEA
}

.button {
    height: 46px;
    width: 300px;
    display: block;
    font-family: inherit;
   
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 13px 8px 11px 8px;
    background-color: #3D4EEA;
    color: #fff;
    border: none;
    margin: 24px auto 40px;
    transition: all 0.5s;
}
.button:hover {
    transform: scale(1.04);
    transition: all 0.5s;
}

.number h5 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.number h5 span {
    color: #3D4EEA;
    border: 1px solid #3D4EEA;
    border-radius: 4px;
    padding: 5px;
}





.error {
    color: #282828;
    text-align: center;
    margin: 20px auto 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    width: 60%;
}
