.section {
    background-color: #fff;
    background-position: center 113px;
    background-size: 69px 48px;
    height: calc(100vh - 72px);
    position: relative;
    z-index: 100;
    
}

.registration {
    font-size: 18px;   
    margin: 0 auto 20px;
    text-align: center;
}

.image {
    margin: 40px 0;
    background-position: center;
    background-size: 69px 48px;
    height: 48px;
}
.inputs {
    margin: 130px auto 0;
    width: 300px;

}
.number {
    position: relative;    
    padding-top: 130px;
}
.inputs_password input,
.number p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    width: 300px;
    margin: 24px auto;
}

.inputs_password {
    margin-top: 130px;
}


.inputs_password p,
.inputs p {
    color: #3D4EEA;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}
.inputs p:hover {
    text-decoration: underline;
}

.number p {
    margin: 0 auto 15px;
}
.colaboration {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 300px;
    margin: 0 auto 20px;
}

.inputs_password input {
    height: 46px ;
    width: 300px;
    text-align: left;
    display: block;
    color: #3D4EEA;
    margin: 0 auto;
    padding: 0 10px; 
    margin-bottom: 12px;   
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #3D4EEA ;
}
.inputs_password input::placeholder {
    color: #3D4EEA
}
.button {
    height: 46px;
    width: 300px;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 13px 8px 11px 8px;
    background-color: #3D4EEA;
    color: #fff;
    border: none;
    margin: 24px auto;
    transition: all 0.5s;
}
.button:hover {
    transform: scale(1.04);
    transition: all 0.5s;
}

.number h5 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.number h5 span {
    color: #3D4EEA;
    border: 1px solid #3D4EEA;
    border-radius: 4px;
    padding: 5px;
}

.numbers input {
    width: 60px;
    height: 80px;
    margin-right: 8px;
    text-align: center;
    font-size: 64px;
    outline: none;
    background: #ECEEFD;
    border: none;
    font-weight: 600;
    color: #3D4EEA;  
    
    box-shadow: 0px 1px 0px #F5F5F5;
    border-radius: 8px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    margin: 34px auto 32px;
    width: 264px;

}

.number h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #3D4EEA;
    margin-bottom: 11px;
    cursor: pointer;
}
.number h6 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.error {
    color: #282828;
    text-align: center;
    margin: 20px auto 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    width: 60%;
}
