.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 101;
}

.section {
    background-color: #fff;    
    background-position: center 30px;
    background-image: url('/logo-main.svg');
    background-size: 20%;
    height: 80vh;
}

.section::before {
    content: 'Войти по номеру телефона';
    text-align: center;
    color: black;
    display: block;
    transform: translateY(115px);
    font-weight: 500;
    font-size:  18px;
    line-height: 18px;
}

.inputs {
    margin: 150px auto;
    width: 300px;
}
/* .inputs span {
    color:#3D4EEA;
    display: block;
    transform: translate(3px,20px);    
}
.inputs span::before {
    content: '+';
    transform: translate(8px,21px);
    display: inline-block;
    color: #000;
} */
.inputs p {
    text-align: center;   
    font-weight: 400;
    font-size:  12px;
    line-height: 18px;
    width: 300px;
    margin: 0 auto 15px;
}
.colaboration {
    text-align: center;   
    font-weight: 400;
    font-size:  14px;
    line-height: 17px;
    width: 300px;
    margin: 0 auto 20px;
}
.inputs input {
    height: 46px !important;
    width: 300px;
    display: block;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    outline: none;    
    border-radius: 6px;    
    border: 1px solid #3D4EEA !important;

}

.button {
    height: 46px;
    width: 300px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;    
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    background-color: #3D4EEA;
    color: #fff;
    border: none;
    margin: 24px auto;
}
