

.model {
    height: 80px;
    background:  #5E2AF0;
    border-radius: 8px;
    padding: 20px 16px 22px;
    display: flex;
    margin: 0 0 10px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.model h3 {
    font-weight: 500;
}

.model h3,
.model h6 {
    color: #fff;   
}
.model h6 {    
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.save__image {
    display: inline-block;
    width: 82px;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(25px);
    position: absolute;
    left: 8px;
    bottom: 16px;
    cursor: pointer;
    background-position: 5px center;
    background-size: 16%;
    background-image: url('/archive-add.svg')
}
.save__image::after {
    content: 'Сохранить';
    font-size: 10px;
    transform: translateX(7px);
}


.images button {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 4%;
    border: none;
    border-radius: 8px;
}

.part_images {
    display: inline-block;
    width: calc(50% - 5.5px);
    

}
.message {
    position: absolute;
    top: 0;
    z-index: 200;
    left: calc(50% - 150px);
    padding: 30px 10px;
    width: 300px;
    border: none;
    font-weight: 500;
    background: #FFFFFF;
    box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
}

.part_images div {
    position: relative;
    min-height: 100px;
    
}

.part_images img {
    border-radius: 8px;
    margin-bottom: 6px;
    width: 100%;
    height: auto;
}

.need_model_main {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 500px;
    z-index: 100;
    top: 0;
    left: 0;
}

.need_model_data {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 80vh;
    max-width: 500px;
    padding: 10px 20px;
    position: absolute;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    top: 20vh;
    left: 0;
}

.need_model_data img {
    margin: 0 auto;
    display: block;
}

.date {
    color: #3D4EEA;
    margin: 6px 0 16px;
    font-weight: 400;
}

.text {
    font-size: 12px;
    line-height: 17px;
}
.save {
    display: flex;
    justify-content: space-between;
    background-position: left center;
    background-size: 6%;
    background-image: url('/save.svg');
    padding-left: 30px;
    margin: 20px 0 15px;
}
.save span:last-of-type {
    color: #D0D0D0;
}

.add {
    height: 46px;
    width: 132px;    
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    color: #fff;
    background-color: #3D4EEA;
    margin: 10px auto;
    border: none;
    display: block;

}