body::-webkit-scrollbar {
  width: 0;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #fff;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid #ECEEFD;  /* отступ вокруг бегунка */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #000;
  background-repeat: no-repeat;
}
h4, h1, h2, h3, h5 , h6, b{
  font-weight: 500;
}
main {
  color: #000;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  max-width: 500px;
}
.pro {
  margin: 0 5px;  
  border-radius: 4px;  
  font: 500;
  font-size:12px;
  line-height: 17px;
  padding: 2px 8px;
  color: #fff;
  display: inline-block;
}

input[type='text'], input[type='tel'], input[type='radio'], input[type='search'],input[type='password'] {
  background-color: #fff;
  outline: none;  
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
a:hover {
  opacity: 0.9;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb { 
  padding: 20px 0; 
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  width: 10px;
}
input[type=range]::-moz-range-thumb {
  
 
  height: 30px;
  width: 15px;
  border-radius: 1px;
  background: #FFFFFF;
  cursor: pointer;
}

html,
body {
 
  min-height: 100vh;
  background-color: #ddd;
  white-space: pre-line;
}
.name_stars{
  margin: 60px auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  line-height: 35px;
} 

.star {
  font-weight: 600;
  font-size:  12px;
  line-height: 18px;
}
button {
  cursor: pointer; 
  border: none;
  font-weight: 500;
  font-family: inherit;  
} 
.message {
  position: absolute;
  top: 350px;
  z-index: 200;
  left: calc(50% - 150px);
  padding: 30px 10px;
  width: 300px;
  border: none;
  font-weight: 500;
  background: #FFFFFF;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
}
::after, ::before {
  display: inline-block;
}
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap'); */
.await {
  text-align: center;
  padding-top: 50px;
}
body { 
  max-width: 500px;
  width: 100%;
  background-repeat: no-repeat; 
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
input[type="radio"] {
  accent-color: #3D4EEA;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}