
.header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 72px;
}

.section_main {
    text-align: center;
    padding: 0 16px 60px;
   
}
.buttons {
    display: flex;
    justify-content: space-between;    
}

.buttons div {   
    font-size:  16px;
    line-height: 37px;
    border-radius: 6px;
    height: 36px;
    cursor: pointer;
    width: 43%;   
}
.buttons div {
    font-weight: 500;
    color: #fff;
}
.buttons div svg {
    transform: translate(4px,4px);
}
.buttons div:last-of-type {
    width: 55%;    
}


.navigation {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}
.section h4 {
    margin: 0 0 5px;
    color: #282828;
    font-weight: 500;
    font-size:  12px;
    line-height: 22px;
    text-align: center;
}
.navigation span {
    display: inline-block;
    padding: 0 6px;
    color: #000;
    text-align: center;
    border-radius: 6px;    
    font-weight: 400;
    font-size:  14px;
    line-height:  27px; 
    cursor: pointer;   
    
}
.image {
    height: 100px;
    background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
    border-radius: 20px;
    background-size: 400% 400%;
    animation: gradient 22s ease infinite;    
}
.image img {
    height: 105px;
    width: 105px;
    display: block;
    margin: 0 auto;   
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.await {
    text-align: center;
    padding-top: 250px;
}
.dialog {
    max-width: 500px; 
    width: 100%;   
    height: 100vh;
    position: fixed;
    z-index: 110;
    top: 0;
    transform: translateX(-16px);
    border: none;
    background: rgba(40, 40, 40, 0.6);
   
}
.dialog div {
    height: auto;
    width: calc(100% - 32px);
    background-color: #fff;
    transform: translate(16px, 30vh);
    border-radius: 8px;
    padding: 14px 12px 12px;
}

.dialog div span {
    float: right;
    color: #3D4EEA;
}

.dialog div span::after {
    content: url('/close.svg');
    margin-left: 10px;
}

.dialog div h4 {
    margin: 15px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    text-align: left;
}

.dialog div a {
    text-align: center;
    height: 46px;
    background: #3D4EEA;
    border-radius: 6px;
    display: block;
    color: #fff;
    line-height: 48px;
    font-weight: 500;
    font-size: 16px;
}


  
@media screen and (min-width: 500px) {
    .main {
      max-width: 500px;
    }
}