.section {
    padding: 16px;
}
.model,
.master {
    height: 80px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    display: block;
    padding: 10px;   
    font-size: 27px;    
    line-height: 30px;    
    text-align: left;
    margin: 8px 0;   
    color: #fff;
    background-position: center;
    background-size: 100%;
    background-image: url('/image/background1.jpg');
}

.master {
    background-image: url('/image/background2.jpg');
    text-align: center;
    line-height: 55px;
}
.city {
    color: #3D4EEA;
    background: #ECEEFD;
    border-radius: 6px;
    font: 600 16px/46px 'Rubik', sans-serif;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 16px;
}

.city img {
    vertical-align: middle;
    margin-left: 10px;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0 10px;
}

.images img {
    display: block;
    margin: 0 auto;
}

.uslugi,
.around__masters {
    height: 46px;
    display: block;
    color: #fff;
    border-radius: 6px;
    padding: 11px 8px 11px 8px;
    margin: 8px 0;
    background-color: #3D4EEA;
    text-align: center;
    font: 600 16px/24px 'Rubik', sans-serif;
}

.around__masters {
    background-color: #ECEEFD;
    color: #3D4EEA;
    margin: 8px 0 24px;
}

.info {
    display: block;
    color: #3D4EEA;
    font: 400 16px/28px 'Rubik', sans-serif;
}

.section h3 {
    font: 500 16px/26px 'Rubik', sans-serif;
    margin-bottom: 26px;
}

.agreement {
    font: 400 10px/15px 'Rubik', sans-serif;
    margin: 26px 0 50px;
}
