.main {
    height: auto;

}

.date{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 26px 0 24px;
}

.month {
    margin: 24px 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
}

.all_days {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.left,
.right {
    width: 24px;
    height: 24px;
    background-color: #3D4EEA;
    border-radius: 20px;
}

.left::after,
.right::after {
    content: url('/arrow_left_wh.svg');
    text-align: center;
    width: 22px;
    line-height: 22px;
    cursor: pointer;
}

.right::after {
    transform: rotate(180deg);
    width: 24px;
    line-height: 25px;
}

.days {
    width: 86%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    overflow-x: auto;
}

.days span,
.time span {
    color: #3D4EEA;
    padding: 5px;
    text-align: center;
    margin: 4px;
    height: 27px;
    font-weight: 500;
    display: inline-block;
    background: #ECEEFD;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.time {
    display: grid;
    width: 80%;
    margin: 20px auto;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
}

.submit {
    text-align: center;
    color: #fff;
    width: calc(100% - 52px);
    background-color: #3D4EEA;
    border-radius: 6px;
    display: block;
    line-height: 44px;
    position: absolute;
    bottom: 101px;
    font-size: 1em;
    left: 26px;
    height: 44px;
    font-weight: 500;
    cursor: pointer;
}

.head {
    text-align: center;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 72px;
    padding: 26px 0;
    position: relative;
}
.head span:first-of-type {
    position: absolute;
    top: 14px;
    left: 16px;
    background-color: #ECEEFD;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.head span:first-of-type::before {
    content: url('/array_left.svg');
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.await {
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 20%;
    left: calc(50% - 70px);

}
.goodorder {
    width: 100%;
    text-align: center;
    max-width: 500px;
    position: absolute;
    top: 0;    
    height: 100%;
    color: #fff;
    background-color: #3D4EEA;
    background-image: url('/logoWh.svg');
    background-position: center 40px;
    background-size: 69px 48px;
    padding-top: 104px;
}
.goodorder h6, .goodorder h1, .goodorder h4, .goodorder h3 {
    color: #fff;
    text-align: center;
    line-height: 17px;
}
.goodorder a {
    width: calc(100% - 64px);
    height: 46px;   
    display: block;
    line-height: 46px;
    font-weight: 500;
    margin: 16px auto;
    background: #FFFFFF;
    border-radius: 6px;
    color:#3D4EEA;
}
.goodorder h1 {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 16px;
}
.goodorder h3 {
    margin: 0 0 160px;
}
.goodorder h6 {
    position: absolute;
    top: calc( 100vh - 24px);
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}