.main {
    height: auto;
}
.date {
    text-align: center;    
    margin: 26px 0 24px;
}
.month {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 5px;
    width: calc(100% - 32px);
}


.month button {
    display: inline-block;
    width: 20%;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #d0d0d0;
    cursor: pointer;
    background-color: #fff;
}
.month button:first-of-type {
    text-align: left;
}
.month button:last-of-type {
    text-align: right;
}

.all_days {   
    padding: 0 16px;
}

.left,
.right {
    width: 24px;
    height: 24px;
    background-color: #3D4EEA;
    border-radius: 20px;
}

.left::after,
.right::after {
    content: url('/arrow_left_wh.svg');
    text-align: center;
    width: 22px;
    line-height: 22px;
    cursor: pointer;
}

.right::after {
    transform: rotate(180deg);
    width: 24px;
    line-height: 25px;
}

.days {   
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-between;
    gap: 8px;

}

.days span,
.days button,
.time button {
    color: #3D4EEA;   
    justify-content: center;
    width: 11vw;
    max-width: 60px;
    position: relative;
    height: 11vw;
    max-height: 60px;
    display: flex;
    font-weight: 500;
    align-items: center;
    background: #ECEEFD;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.time {
    display: grid;
    width: calc(100% - 32px);
    margin: 20px auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 8px;
}
.time button {
    width: 30vw;
    max-width: 148px;

}
.week span {
    padding: 15px 0;
    display: inline-block;
    width: 11vw;
    font-weight: 500;
    max-width: 50px;
    margin: 0 auto;
    text-align: center;
}
.week {
    width: calc(100% - 32px);
    margin: 0 auto;
    gap: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.count {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    width: 18px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    color: #fff; 
    background-color: #3D4EEA;
}

.submit {
    text-align: center;
    color: #fff;
    width: calc(100% - 52px);
    background-color: #3D4EEA;
    border-radius: 6px;
    display: block;
    line-height: 44px;
    position: absolute;
    bottom: 101px;
    font-size: 1em;
    left: 26px;
    height: 44px;
    font-weight: 500;
    cursor: pointer;
}

.head {
    text-align: center;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 72px;
    padding: 26px 0;
    position: relative;
}

.head span:first-of-type {
    position: absolute;
    top: 15.5px;
    left: 16px;
    background-color: #ECEEFD;
    border-radius: 50%;
    height: 38px;
    width: 40px;
    cursor: pointer;
}

.head span:first-of-type::before {
    content: url('/arra_left.svg');   
    position: absolute;
    top: 10px;
    left: 16px;
   
}

.await {
    text-align: center;
    padding-top: 50px;
    position: absolute;
    top: 20%;
    left: calc(50% - 70px);

}

