.main {
    align-items: center;
    min-height: 100vh; 
    max-width: 500px;   
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    position: relative;   
}

.header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 72px;
}

.section {
    text-align: center;
    padding: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 17px;
}



.image img {
    border-radius: 100%;
    transform: translateY(50px);
    border: 3px solid #fff;
}

.section p {
    margin: 60px auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: fit-content;
}

.pro {
    height: 21px;
    width: 65px;
    margin: 0 10px;
    font: 600 12px/15px 'Rubik', sans-serif;
    background: linear-gradient(90deg, #3D4EEA 0%, #5E2AF0 100%);
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px;

}

.stars {
    background-image: url('/star-small.svg');
    background-position: 85% center;
    background-size: 35%;
    height: 21px;
    width: 58px;
    text-align: left;
    font: 600 12px/16px 'Rubik', sans-serif;
    color: #3D4EEA;
    background-color: #ECEEFD;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 4px 2px 10px;

}

.text {
    text-align: center;
    font: 500 12px/17px 'Rubik', sans-serif;
    color: #282828;
}

.view_text {
    color: #3D4EEA;
    margin: 12px auto;
    display: block;
    font: 400 12px/17px 'Rubik', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.buttons button {
    color: #3D4EEA;
    font: 500 16px/26px 'Rubik', sans-serif;
    color: #3D4EEA;
    background-color: #ECEEFD;
    border-radius: 6px;
    height: 36px;
    border: none;
    width: 43%;   
}
.buttons button span {
    color: #3D4EEA;
    font-weight: 600;
}
.buttons button span::after {
    content: url('/chat-small.svg');
    display: inline-block;
    transform: translate(6px, 3px);
}
.buttons button:last-of-type {
    width: 55%;    
}

.buttons button:last-of-type span::after {   
   content:  url('/edit-small.svg');
}
.navigation {
    display: flex;
    margin: 16px 0 0;
    justify-content: space-between;
}
.section h4 {
    margin: 5px 0;
    color: #282828;
    font: 600 12px/22px 'Rubik', sans-serif;
    text-align: center;
}
.navigation span {
    display: inline-block;
    padding: 0 5px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    
    font: 400 14px/27px 'Rubik', sans-serif;
    
    
}
.image {
    height: 100px;
    background: linear-gradient(94.86deg, #3D6DEA 0%, #F49ED2 48.96%, #FD3394 100%);
    border-radius: 20px;
    
}

  
  
@media screen and (min-width: 500px) {
    .main {
      max-width: 500px;
    }
}