.main__filter {
  margin: 16px 0;  
}

.main__filter span {
  display: inline-block;
  width: 50%;
  color: #8B95F2;
  overflow: hidden;
  font-weight: 400;
  font-size:  14px;
  padding-left: 10px;
  
}
.main__filter span:first-of-type::first-letter {
  text-transform: uppercase;
}

.main__filter span:last-of-type {
  width: 50%;
  color: #3D4EEA;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.main__filter span:last-of-type::after {
  content: url('/arrow_right.svg');
  display: inline-block;
  transform: translate(8px, 1px);
}

.all__filter {
  position: absolute;
  top: 80px;
  left: 3.5%;
  background-color: #fff;
  max-width: calc(500px - 4.5%);
  width: 93%;
  height: auto;
  z-index: 100;
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.all__filter h6 {
  margin: 10px;
  text-align: right;
  padding-right: 15px;
  font-weight: 500;
  color: #3D4EEA;
  cursor: pointer;
}

.all__filter h6::after {
  content: url('/close.svg');
  display: inline-block;
  transform: translate(10px, 2px);
}

.all__filter__data {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

.all__filter__data b {
  text-align: center;
  color: #000;
  margin: 3px;
  font-weight: 500;
  font-size:  14px;
  line-height: 27px;
  border: 1.5px solid #000;
  border-radius: 5px;
}
.all__filter__data b::first-letter {
  text-transform: capitalize;
}



@media screen and (min-width: 500px) {
  .main__filter span:last-of-type {
    width: 50%;
  }
}