.detail div img {
  border-radius: 0;
  object-fit: cover;
}
.main__detail { 
  width: min(100% ,500px);
  height: 100vh;
  position: absolute;
  z-index: 120; 
  padding-top: 72px; 
  opacity: 0;
  overflow: auto;
  top: 0;
  transition: opacity 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}

.detail { 
  border-radius: 12px; 
  transition: opacity 0.5s;
  background-color: #fff; 
  text-align: center;
  max-width: 500px; 
  min-height: calc(100vh - 72px); 
  padding-bottom: 5px;
}

.detail h5::first-letter {
  text-transform: capitalize;
}

.detail h3 {
  cursor: pointer;
  text-align: center;
  padding-right: 10px;
  margin-bottom: 5px;
  color: #ccc;
}

.detail h3::after {
  content: url('/close.svg');
  font-size: 20px;
  transform: scale(1.5);
}

.toprofilemaster {
  height: 46px;
  display: block;
  color: #fff;
  text-align: center;
  width: calc(100% - 32px); 
  margin: 20px auto;  
  line-height: 46px;
  background: #3D4EEA;
  border-radius: 6px;
  font-weight: 500;
}

.master {
  margin: 20px 1rem 10px;
  text-align: left;  
}

div.master img {
  border-radius: 50%;
  margin-right: 12px;  
}

.master span:first-of-type {
  vertical-align: super;
}
.master span:last-of-type {
  float: right;
  line-height: 30px;
  color: #D0D0D0;
}

.detail h5,
.detail h6 {
  padding: 0 1rem;
  text-align: left;
  flex-grow: 1;
}

.close {
  margin: 10px 0;
  cursor: pointer; 
}

.detail h6 {
  font-weight: 400;
  display: block;
  font-size: 12px;
  line-height: 17px;
  color: #282828;
  padding: 4px 1rem 0;
}