.city {
    color: #3D4EEA;
    background: #ECEEFD;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: center;    
    width: calc(100% - 32px);
    margin: 16px auto;
    display: block;
  }
  .city::after {
    content: url('/position.svg');  
    transform: translate(10px, 5px);
  }
  .city span {
    color: inherit;
    
  }