.main {
    height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    z-index: 120;
    
}

.input {
    position: fixed;
    bottom: 10px;
    width: calc(100% - 20px);
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.input input {
    width: calc(100% - 58px);
    height: 46px;
    border: 1px solid #8B95F2;
    border-radius: 23px;
    display: inline-block;
    padding-left: 16px;
    font-size: 14px;
    
}

.input ::placeholder {
    color: #8B95F2;
}

.input button {
    border-radius: 100%;
    background-color: #3D4EEA;
    background-image: url('/send.svg');
    background-position: center;
    background-size: 45%;
    height: 46px;
    width: 46px;
}

.section {
    overflow-y: auto;
    height: calc(100vh - 140px);
    padding: 0 10px;
}
.section::-webkit-scrollbar {
    width: 0;
  }

   
.wrap_client {
    background: linear-gradient(90deg, #3D4EEA 0%, #5E2AF0 100%);
    border-radius: 8px;
    width: 70%;
    padding: 10px 10px 0 10px;
    color: #fff;    
    margin: 16px 0 0 30%;
}

.wrap_master {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 16px 0 0;   
}
.wrap_master img {
    border-radius: 50%;
    margin-right: 10px;
}
.master {
    background: #ECEEFD;
    border-radius: 8px;    
    width: 70%;
    padding: 10px 10px 0 10px ;
    min-height: 60px;
}
.master a, .wrap_client a {
    color:#5E2AF0;    
    padding: 10px;
    width: 100%;
  
}

.wrap_client a {
    color:#8B95F2;
}   
.wrap_client p, .master span {
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    font-size: 12px;
    line-height: 25px;
    display: block;
    
}
.wrap_client p img {
    
    margin: 0 0 -6px 5px;
}
.master span {
    color: #bbb;
}
.admin {
    width: 100%;    
    color: #D0D0D0;
    margin: 16px 0  16px 48px;
}
.order p {
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    letter-spacing: -0.5px;

}
h5.order_create {
    margin-bottom: 10px;
    font-size: 16px;

}
.order_create a {
    margin-left: 10px;
}

.order h4 {
    font-size: 22px;
    margin-top: 8px;
    color: inherit;
}
.details {
    margin-top: 8px;
}
