.header {
    text-align: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #ECEEFD;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 72px;
    padding: 0 16px;
  }
  
  .header span:last-of-type {
    color: #3D4EEA;
    display: inline-block;
    
  }
  
  .header span:first-of-type {
    margin-left: 10px;
  }
  
  .header a img {
    line-height: 40px;
  }
  .header img {
    vertical-align: middle;
  }
  .header a {
    vertical-align: middle;
    height: 40px;
    float: right;
    display: flex;
    margin-top: 17px;
    width: 40px;
    padding: 10px;
    background: #ECEEFD;
    border-radius: 100%;
  }
  