.header {
    text-align: center;   
    border-bottom: 1px solid #ECEEFD;
    color: #282828;  
       
    height: 72px;
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  .header h2:last-of-type {
    color: #3D4EEA;
    display: inline-block; 
    vertical-align: text-bottom;   
  }
  .shadow_arrow {
    height: 40px;
    width: 40px;
  }
  .header h2:first-of-type {   
    display: inline-block;
    vertical-align: text-bottom;   
  }
  
  .header div img {
    line-height: 40px;
  }
  .header .icon {
    vertical-align: middle;
    transform: translate(5px, -2px);
    
  }
  .header div:last-of-type, .call, .image_master, .left__arrow {
    vertical-align: middle;
    height: 38px;   
    display: inline-block;    
    width: 40px;
    /* padding: 11px 10px; */
    text-align: center;
    line-height: 18px;
    background: #ECEEFD;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header a:first-of-type svg {
    transform: translate(-4px, -2px);
  }
  .logo {
    width: auto;    
  }
  .logo::before {
    content: url('/logo.svg');
    transform: translate(-6px,2px);
  }
  .header img:last-of-type {
    float: right;
    
  }
  .call {
    position: absolute;    
    right: 64px;
    height: 30px;
    width: 30px;
    padding: 5px;
  }
  .image_master {  
    padding: 0 !important;
    float: none !important;
    margin-right: 5px;
    color: #282828;
    display: inline-block;
  }
  .count {
    position: absolute;
    top: -3px;
    left: 26px;
    background-color: #FD4D4D;
    color: #fff;
    border-radius: 50%;
    
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-weight: 500;
  }
  