

.header {
    height: 46px;
    padding: 16px 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
}

.header span {
    font-weight: 500;
    line-height: 26px;
}

.selector {
    display: flex;
    margin: 24px 16px;
    justify-content: space-between;
}

.selector span {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px 6px;
    cursor: pointer;
}

.left__arrow {
    height: 38px;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    line-height: 18px;
    border-radius: 100%;
}

.header img {
    cursor: pointer;
}

.header span:last-of-type {
    color: #3D4EEA;
}



.sertificat__upload,
.sertificats {
    height: calc(100vw - 32px);
    max-height: calc(500px - 32px);
    background: #ECEEFD;
    border-radius: 8px;
    margin-bottom: calc(5% - 10px);
}

.sertificat__upload {
    font-size: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sertificats {
    background-position: center;
    background-size: cover;
    background-color: inherit;
}

.sertificats span {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sertificats span img {
    margin: auto;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
}
.main__form {
    margin: 0 16px;
}

.main__form img {
   width: calc(100vw - 32px);
   max-width: calc(500px - 32px);
   border-radius: 8px;
}

.sertificats label {
    cursor: pointer;
}
.left__arrow:hover, .sertificats img:hover {
    transform: scale(1.3);
    transition: all 0.5s;
}
.services {
    display: flex;
    justify-content: flex-start;
    margin: 0 16px;
}

.services span {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 10px 0 0;
    display: inline-block;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.services span::first-letter {
    text-transform: capitalize;
}

.active__service {
    color: #fff;
    background-color: #3D4EEA;
    border-radius: 4px;
    height: 27px;
    padding: 0 10px;
}

.addtag {
    margin: 16px 16px 0;
    display: block;
}

.addtag textarea {
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #3D4EEA;
    width: 100%;
    outline: none;
    border-radius: 8px;
    background-color: #fff;
}

.buttonupload {
    display: block;
    background-color: #3D4EEA;
    width: calc(100% - 32px);
    line-height: 42px;
    color: #fff;
    margin: 0 16px 10px;
    border-radius: 8px;
    font-size: 16px;
}
.buttonupload:disabled {
    background-color: #ddd;
}
.publ {
    margin-top: 16px;
}



