.main {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: auto;
    padding: 0 16px;
    z-index: 120;
}

.header {
    height: 46px;
    padding: 16px 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    font-weight: 500;
    line-height: 26px;
}

.selector {
    display: flex;
    margin: 24px 0;
    justify-content: space-between;
}

.selector span,
.addtag button {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px 6px;
    cursor: pointer;
}

.left__arrow {
    height: 38px;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    line-height: 18px;
    border-radius: 100%;
}

.header a:first-of-type svg {
    transform: translate(-4px, -2px);
}

.header span:last-of-type {
    color: #3D4EEA;
}
.main__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sertificat__upload,
.sertificats {
    height: 28vw;
    max-height: 145px;
    background: #ECEEFD;
    border-radius: 8px;
    margin-bottom: calc(5% - 10px);
}

.sertificat__upload {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sertificats {
    background-position: center;
    background-size: cover;   
    background-color: inherit;
}

.sertificats span {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
    border-radius: 10px;
    background-color: rgb(0, 0, 0,0.3);    
}
.sertificats span img {
    margin: auto;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
}

.sertificats label {   
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: flex-start;
}

.services span {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 10px 0 0;
    display: inline-block;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.services span::first-letter {
    text-transform: capitalize;
}

.active__service {
    color: #fff;
    background-color: #3D4EEA;
    border-radius: 4px;
    height: 27px;
    padding: 0 10px;
}
.addtag {
    margin-top: 16px;
    display: block;
}
.addtag textarea {
    padding: 10px;
    margin: 16px 0;
    border: 1px solid #3D4EEA;
    width: 100%;
    outline: none;
    border-radius: 8px;
    background-color: #fff;
}

.addtag button {
    display: block;
   
}

.message {
    position: absolute;
    top: 350px;
    z-index: 200;
    left: calc(50% - 150px);
    padding: 30px 10px;
    width: 300px;
    border: none;
    font-weight: 500;
    background: #FFFFFF;
    box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
}
