.header {
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 11px;   
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
}
.header span {
    display: inline-block;
    width: auto;
}
.header span:last-child {
    color: #3D4EEA;
    cursor: pointer;
    width: 20%;
    text-align: right;
}
.header span:first-child {
    width: 20%;
}

.header img {
    cursor: pointer;
}

.text {
    margin: 16px 16px 26px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.main_images {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}
.images {   
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;  
}

.images .image {
    width: 100% ;   
    border-radius: 12px;   
    margin-bottom: 10px;
    border: none;   
}
.images img {
    border: none;
    outline: none;
}
.delete{
    position: absolute;
    bottom: 23px;
    height: 52px;  
    width: 40%;
    left: 30%;
    z-index: 110000;
    max-width: 230px;  
}
.trash {
    padding: 16px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    z-index: 10000;
    bottom: 23px;
    left: calc(50% - 25px);
}
.message {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 30%;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 8px;
    display: none;
}
.model {
    height: 80px;
    background:  #5E2AF0;
    border-radius: 8px;
    padding: 20px 16px 22px;
    display: flex;
    margin: 0 16px 10px;
    width: calc(100% - 32px);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
}
.model h3 {
    font-weight: 500;
}

.model h3,
.model span {
    color: #fff;   
}
.model span {    
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
