.message {
  color: #3D4EEA;
  background: #ECEEFD;
  border-radius: 6px;
  padding: 8px;
  gap: 4px;
  margin: 0 auto 16px;
  height: auto;
  font: 400 12px/17px 'Rubik', sans-serif;
  background-position: 96% 10px;
  background-size: 3%;
  background-repeat: no-repeat;
  background-image: url('/close.svg')
}