.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.model {
    height: 80px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    display: block;
    padding: 10px;
    margin: 20px 0;
    position: relative;
    color: #fff;

}

.selector {
    font: 400 14px/17px 'Rubik', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 16px 0 0;
    align-items: center;
    padding: 10px;
    height: 27px;
}
.selector span {
    width: 45%;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 5px;   
    text-align: center;
}

.events a {
    width: 90%;
    margin: 5px auto;
    border-radius: 8px;
    background-position: center;   
    background-size: cover; 
    background-image: url('/image/background1.jpg');   
    height: 120px;
    padding: 10px 11px;
    font-family: '__myFont_1c1004';
    font-size: 24px;
    line-height: 29px;
    display: block;   
    text-align: left;

}
.events a:first-of-type {
    height: 80px;
    margin-top: 16px;
}