.main {
    align-items: center;
    min-height: 100vh;
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.selector {
    font: 600 14px/17px 'Rubik', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0;
    align-items: center;
    padding: 10px;
    height: 27px;
}
.selector span {
    width: 45%;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

.events a {
    width: 90%;
    margin: 5px auto;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 120px;
    padding: 20px;
    display: block;
    font: 900 26px/30px 'Dela Gothic One', sans-serif;
    text-align: left;
}