.dialog {
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    position: absolute;
    top: 0;
    border: none;
    background: rgba(40, 40, 40, 0.6);
    padding: 10px;
}

.dialog div {
    height: 183px;
    background-color: #fff;
    margin-top: 156px;
    border-radius: 8px;
    padding: 14px 12px 12px;
}

.dialog div span {
    float: right;
    color: #3D4EEA;
}

.dialog div span::after {
    content: url('/close.svg');
    margin-left: 10px;
}

.dialog div h4 {
    margin: 30px 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.dialog div a {
    text-align: center;
    height: 46px;
    background: #3D4EEA;
    border-radius: 6px;
    display: block;
    color: #fff;
    line-height: 48px;
    font-weight: 500;
    font-size: 16px;
}